@font-face {
  font-family: "myfont";
  src: url("font/font.woff.ttf") format("ttf");
  font-family: myfont2;
  src: url("font/font.woff2") format("woff2")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:"Inter", sans-serif;
    background-image: url("photos/bg-light.svg");
     background-repeat: no-repeat;
     background-size: 108%;
     background-position: center -95px;
}
     

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    backdrop-filter: blur(10px);
    /* position: sticky;
    top: 0;
    z-index: 1000; */
}

/* #navbar.scrolled {
    background-color: #e0e0e0;
} */

.logo {
   width: 100px;
  
   
}

.logo img {
    width: 150px;
    margin-left: 40px;
    margin-top: 15px;
}

.logo img:hover {
    cursor: pointer;
}    

.nav {
     margin-left: 60px;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 0.3s ease 0.2s;
    
    
}

.nav a:hover {
    background-color: #ffffff11;
}

/* .button {
    align-self: center; */

.buttons button {
    border-radius: 25px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    font-family:"Inter", sans-serif;
   
    
}

.buttons button:hover {
    cursor: pointer;
}

.button1 {
    background-color: #ffffff11;
    color: #ffffff;   
}

.button2:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease 0.2s;
}

#main_material {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.heading h1 {
    align-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: -3px;
}

.heading p {
    color: #ffffff;
    font-size: 18px;
    padding: 14px;
}

.form {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 4px;
    width: 350px;
    margin: 20px;
}

.form input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px 15px;
    color: white;
    outline: none;  
}

.form input::placeholder{
    color: rgba(255,255,255,0.7);
}


#email {
    flex: 1;
    border: none;
    outline: none;
}

#ctr {
    border: none;
    background: white;
    padding: 8px 18px;
    border-radius: 25px;
    cursor: pointer;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

#img img {
    border-radius: 25px;
}

#logos {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 0 150px;
    /* padding: 60px 20px; */
    margin-top: -40px;
}

#logos img {
    max-width: 150px;
    margin-bottom: -50px;
    object-fit: contain;
}
