@font-face {
  font-family: "myfont";
  src: url("font/font.woff.ttf") format("ttf");
  font-family: myfont2;
  src: url("font/font.woff2") format("woff2")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:"Inter", sans-serif;
    background-image: url("photos/bg-light.svg");
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: center -95px;
    height: 100vh;
    width: 100vw;
}
     

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    backdrop-filter: blur(10px);
    /* position: sticky;
    top: 0;
    z-index: 1000; */
}

/* #navbar.scrolled {
    background-color: #e0e0e0;
} */

.logo {
   width: 100px;
  
   
}

.logo img {
    width: 150px;
    margin-left: 40px;
    margin-top: 15px;
}

.logo img:hover {
    cursor: pointer;
}    

.nav {
     margin-left: 60px;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 0.3s ease 0.2s;
    
    
}

.nav a:hover {
    background-color: #ffffff11;
}

/* .button {
    align-self: center; */

.buttons button {
    border-radius: 25px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    font-family:"Inter", sans-serif;
   
    
}

.buttons button:hover {
    cursor: pointer;
}

.button1 {
    background-color: #ffffff11;
    color: #ffffff;   
}

.button2:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease 0.2s;
}

#main_material {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.heading h1 {
    align-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: -3px;
}

.heading p {
    color: #ffffff;
    font-size: 18px;
    padding: 14px;
}

.form {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 4px;
    width: 350px;
    margin: 20px;
}

.form input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px 15px;
    color: white;
    outline: none;  
}

.form input::placeholder{
    color: rgba(255,255,255,0.7);
}


#email {
    flex: 1;
    border: none;
    outline: none;
}

#ctr {
    border: none;
    background: white;
    padding: 8px 18px;
    border-radius: 25px;
    cursor: pointer;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

#img img {
    border-radius: 25px;
    width: 75rem;
}

#logos {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 0 150px;
    /* padding: 60px 20px; */
    margin-top: -40px;
}

#logos img {
    max-width: 150px;
    margin-bottom: -50px;
    object-fit: contain;
}

.cardHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 190px;
    /* font-size: 20px; */
}

.cardHeading h2 {
    font-size: 40px;
}
.cardHeading p {
    text-align: center;
    color: #08090acc;
    margin: 5px;
    line-height: 1.5;
    font-size: 18px;
    text-wrap: balance;
}

#card2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    justify-self: center;
    
}

.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid #e5e5e5;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
    font-size: 22px;
    margin: 10px 0;
}

.para {
   color: #555;
   line-height: 1.6;
}

.tag {
  color: rgb(30, 103, 30);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #e5e5e5;
   
}

.tag2 {
  color: rgb(30, 103, 30);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 4rem;
}

.para2 {
   color: #555;
   line-height: 1.6;
}

#content h3 {
    font-size: 22px;
    margin: 10px 0;
}

#content img {
    width: 1100px;
    display: block;
}